#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Run `dig` and display the most useful info
function digga() {
	dig +nocmd "$1" any +multiline +noall +answer;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}


# get fastly debug for a URL
function fastlyd(){
	curl -sSl -XGET -H "Fastly-Debug: True" -D - "$@" -o /dev/null;
}

function fastlydbypass(){
	curl -sSl -XGET -H "Fastly-Debug: True" -H "User-Agent: MySlatePublishHandler" -D - "$@" -o /dev/null;
}

function docker_bash(){
  docker ps | grep $1 | cut -f 1 -d " " | xargs -t -I ID bash -c '</dev/tty docker exec -it ID /bin/bash'
}

