alias chrome="open -a 'google chrome'"

# Folders
alias ll='ls -pal'

alias trvpy='cd ~/dev/trove-web; workon trove-web; pserve --server-name proxy --reload development.ini'
alias trvjs='cd ~/dev/trove-web; nvm use trove-web; gulp watch'
alias startnginx='mkdir -p /tmp/nginx/cache/bitly; sudo nginx'
